.service-list {
  width: 80%;
  margin: 70px auto;
}
.service-item {
  display: flex;
  border-top: 1px solid black;
  padding: 20px 0;
}
.service-item:last-child {
  border-bottom: 1px solid black;
}
.service-item-img {
  width: 300px;
  height: auto;
}
.service-item-text {
  margin-left: 30px;
}
.service-item-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .service-item-img {
    width: 100%;
  }
}
